@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the Movie Registration Website</h2>
    <h4>Please enter your <a asp-controller="Movie" asp-action="MovieRegistrationForm">Movie Registration</a>.</h4>


</div>
